<template> 
<div class="columns">
    <div class="column is-three-fifths">
        <table v-if="data.length!=0" class="table">
            <thead>
                <tr>
                    <th v-for="(column,index) in columns" :key="index">{{column}}</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(row,index_row) in data" :key="index_row" v-bind:class="{ editing: editId === row.id }" >
                    <td v-for="(column,index) in columns" :key="index"> {{row[column]}} </td>    
                    <td>
                        <p class="buttons">
                            <a class="button is-small is-warning" @click="editProducto(row)">Editar</a>
                            <a class="button is-small is-danger" @click="deleteProducto(row.id)">Eliminar</a>
                        </p>
                    </td>   
                </tr>
            </tbody>
        </table> 
        <div v-else class="notification is-danger">
            Alerta !<strong> No hay productos para mostrar</strong>
        </div>
    </div>
    <div class="column">
        <a href="#" v-show="showAdd == false" @click="addProducto()" class="button is-small is-danger" style="float:right;margin-top:-20px" >X</a>
        <ProductoInputForm :editId="editId"></ProductoInputForm>
    </div>
</div>    
</template>

<script>

import ProductoInputForm from '../components/ProductoInputForm.vue';

export default {
    name:'Producto',
    components:{
        ProductoInputForm,
    },
    data() {
            return {
                showAdd:true,
                editId:'',
            }
        },
    computed:{
            data(){
                return this.$store.state.productos;
            },
            columns(){
                return this.$store.state.productos.length>0 ?
                       Object.keys(this.$store.state.productos[0]) : []
            }
        },
    methods:{
            editProducto(producto){
                this.editId = producto.id;
                this.showAdd = false;
            },
            addProducto(){
                this.editId = "";
                this.showAdd = true;
            },
            deleteProducto(producto){
                this.$swal({
                    title: '¿Esta seguro?',
                    text: "Esto no se podra revertir!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Eliminar'
                    }).then((result) => {
                    if (result.value) {
                        
                        this.$store.dispatch('removeProducto',producto).then((res)=>{
                            if(res) this.$swal(
                                    'Eliminado!',
                                    'Producto ha sido eliminado',
                                    'Hecho'
                                    )
                            else this.$swal(
                                    'Error!',
                                    'Error',
                                    'error'
                                    )                                 
                        });
                        

                    }
                    })
            }
        }
        
}
</script>
<style>
.editing {
    background-color: #cececeb4;
}
</style>
