<template>
<nav class="level">
  <div class="level-item has-text-centered">
    <div class="container">
      <p class="heading">PRODUCTOS DISPONIBLES:</p>
      <p class="title">{{data_producto}} </p>
       <div class="row">
          <div class="col-8"><Shop /></div>
          <div class="col-4"><Cart /></div>
        </div>
      </div>
  </div>
</nav>
</template>
<script>
import Shop from "../components/Shop";
import Cart from "../components/Cart";

export default {
  name: "Venta",
  components: {
    Shop,
    Cart,
  },
  computed:{
      data_producto(){
        return this.$store.state.productos.length;
      }
    }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
