<template>
    <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item">
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
            <a v-for="link in links" :key="link.title" class="navbar-item" @click="$router.push(link.url)">
                {{link.title}}
            </a>
        </div>
        <span class="navbar-brand mb-0 h1">
            Carro <span class="badge badge-primary">{{  totalQty }}</span>
      </span>
    </div>
    </nav>
</template>

<script>
import { mapGetters } from "vuex";
export default {
    name:'Navbar',
    props:['links'],
    methods: {
        
    },
    computed: {
    ...mapGetters(["cart"]),
    totalQty() {
      return this.cart.reduce((a, b) => a + b.qty, 0);
    },
  },
}   

</script>
<style scoped>
a.navbar-item {
    text-transform:capitalize;
    }
</style>
