<template>
<div>
    <form @submit="submit($event)">
        <div class="field">
            <label class="label">{{editAddText}} Nombre</label>
            <div class="control">
                <input class="input" v-model="producto.nombre" type="text" placeholder="Nombre" required>
            </div>
        </div>
        <div class="field">
            <label class="label">{{editAddText}} Descripcion </label>
            <div class="control">
                <input class="input" v-model="producto.descripcion" type="text" placeholder="Descripcion" required>
            </div>
        </div>
        <div class="field">
            <label class="label">{{editAddText}} Precio ($) </label>
            <div class="control">
                <input class="input" v-model="producto.precio" type="number" placeholder="Precio" required>
            </div>
        </div>
        
         <div class="field">
            <label class="label">{{editAddText}} Cantidad </label>
            <div class="control">
                <input class="input" v-model="producto.cantidad" type="number" placeholder="Cantidad" required>
            </div>
        </div>

        <div class="field is-grouped" style="margin-top:20px">
            <div class="control">
                <button class="button is-success">{{editAddText}} Producto</button>
            </div>
        </div>
    </form>
</div>
</template>

<script>
export default {
    name:'ProductoInputForm',
    props:['editId'],
    data(){
        return {
            producto:{
                nombre:'',
                descripcion:'',
                precio:'',
                cantidad:'',
            }
        }
    },
    watch:{
        editId(val){
            if(val){
                let current = this.$store.state.productos.filter(i => {
                    if(i.id==val) return true;
                    else false;
                })[0]

                this.producto.nombre = current.nombre;
                this.producto.descripcion = current.descripcion;
                this.producto.precio = current.precio;
                this.producto.cantidad = current.cantidad;
            }else{
                this.resetFormData()
            }
        }
    },
    computed:{
        editAddText(){
            return this.editId ? "Edit":"Ingrese ";
        }
    },
    methods:{
        resetFormData() {

                this.producto = {
                nombre:'',
                descripcion:'',
                precio:'',
                catidad:''
                }
        },
        submit(event){
            event.preventDefault();  
            var payload = this.producto;
            
            if(!this.editId){
                payload['id'] =  this.$store.state.productos.length!=0? Math.max(...this.$store.state.productos.map(i => i.id)) + 1 : 0;
                const producto = {...payload};
                this.$store.dispatch('addProducto',producto);
                this.resetFormData()
            }else{
                payload['id'] =   this.editId;
                const producto = {...payload}
                this.$store.dispatch('editProducto',producto);                
            }
        }
    }
}
</script>