<template>
  <div class="row">
    <div
      class="card"
      style="width: 15rem;"
      v-for="item in productos"
      :key="item.id"
    >
      <img :src="item.imgUrl" class="card-img-top" :alt="item.nombre" />
      <div class="card-body">
        <p class="card-title">{{ item.nombre }}</p>
        <p class="card-text">$ {{ item.precio.toLocaleString() }}</p>
        <button class="btn btn-primary" @click="addItemToCart(item)">
          Añadir al carro
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  name: "Shop",
  mounted() {
    this.getProducts();
  },
  computed: {
    ...mapGetters(["productos"]),
  },
  methods: {
    ...mapActions(["addItemToCart", "getProducts"]),
  },
};
</script>

<style scoped>
.card {
  padding: 20px;
  border: none;
}
</style>
